@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    
    padding: 0;
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

header{
    padding-bottom: 25rem;
}
.bg{

    background-image: url(../img/03-Merkury_Landing_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Rubik', sans-serif;
    position: relative;

}

.dashboard{
    position: absolute;
}

main{
    padding-top: 10rem;
}


#more {
    display: none;
}

.noUnderline{
    text-decoration: none;
}

li{
    list-style: none;
}

.details-box{
    padding-top: 5rem;
}

.text-size{
    font-size: 10px;
}

.task-box-effets:hover{
    margin-left: 2rem;
    transition: 0.5s;
}

.float-bottom{
    padding-top: 20rem;;
}